@font-face {
    font-family: 'scriptinaregular';
    src: url('font/scriptin-webfont.woff2') format('woff2'),
         url('font/scriptin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'carolingia_bigfoot_normal';
    src: url('font/carobtn_-webfont.woff2') format('woff2'),
         url('font/carobtn_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: black;
    font-family: 'carolingia_bigfoot_normal';
    color: white;
}

#perm-title {
    height: 100px;   
    font-size: 40px;  
    text-align: center;
    margin-top: 50px;
}

#intro {
    height: 300px;
    margin: 0px 100px;
}

#battleground, #match-result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#battleground {
    height: 170px;
    gap: 30px;
    margin-bottom: 0px;
    margin-top: 50px;
}

#match-result{
    height: 70px;
    margin-bottom: 50px;
    margin-top: 0px;
    font-size: 40px;
}

.bgContainer{
    position: relative;
    height: 150px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #ba0000;
}

.halfOpacity{
    opacity: 0.5;
}

#intro, h2 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 30px
}

#beasts {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.beast-entry {
    opacity: 0%;
}

.beast-entry img {
    border-style: outset;
    border-width: 5px;
}

img.pressed {
    border-style: inset;
}

#beast-1 img {
    border-color: darkgoldenrod;
}

#beast-1 img:hover {
    border-color: rgb(241, 177, 13);
}

#beast-1 h2 {
    color: darkgoldenrod;
}

#beast-2 img {
    border-color: blue;
}

#beast-2 img:hover {
    border-color: rgb(0, 110, 255);
}

#beast-2 h2 {
    color: blue;
}

#beast-3 img {
    border-color:blueviolet;
}

#beast-3 img:hover {
    border-color:rgb(165, 79, 247);
}

#beast-3 h2 {
    color: blueviolet;
}

#scores{
    display: flex;
    justify-content: center;
    gap: 45px;
    font-size: 50px;
    margin-top: 20px;
}